.dashboard--container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dashboard--link {
  flex: 1;
}

a:link,
a:visited {
  text-decoration: none;
  color: #444444;
}

.header__container {
  margin-top: 25px;
}
.header__container,
.body__container {
  background-color: #e4f0f1;
}
