a:link,
a:visited {
  text-decoration: none;
  color: #f8f8f8;
}
.dashboard--villain {
  margin-top: 25px;
  background-color: #2b0830;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
