/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Impact, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 200;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas:
    ". title ."
    ". content ."
    ". info .";
}

.header__container {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__container {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
}
